Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(app): add deeplink declarations
  .changeset/clever-pots-drum.md
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(external)/.well-known/apple-app-site-association/+server.ts
  packages/app/src/routes/(external)/.well-known/assetlinks.json/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): install @capacitor/haptics properly
  package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(docker): debug what the file names are when building in release
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: migrate to capacitor v7
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Revert "chore(typescript): remove now invalid @ts-expect-error in cors definition"
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/firebase-admin-13.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/clever-pots-drum.md
  .changeset/firebase-admin-13.x.md
  .changeset/i18next-24.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

build: fix (most?) svelte-check issues
  package.json
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/CardArticle.houdini copy.svelte
  packages/app/src/lib/components/CardPost.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/InputColor.svelte
  packages/app/src/lib/components/InputLongText.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/InputText.svelte
  packages/app/src/lib/components/InputToggle.svelte
  packages/app/src/lib/components/InputToggleTriState.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/i18n.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ItemBooking.svelte
  packages/app/src/routes/(app)/events/[id]/scan/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/members/bulk/+page.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(docker): update android build box image to use jdk 21
  Dockerfile
Due: prettier --write --ignore-unknown

chore(docker): try to fix permission issues
  Dockerfile
Due: prettier --write --ignore-unknown

build(android): enable signing on release build type
  Dockerfile
Due: prettier --write --ignore-unknown

ci(volta): speedup .volta-based jobs by using a prebuilt volta image
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(volta): install git
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ticketing): remove help button on ticket capacity visiblity toggle, use a tooltip instead
  .changeset/fifty-toys-mix.md
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): add tooltip on like button when logged out
  .changeset/two-schools-poke.md
  packages/app/src/lib/components/ButtonLike.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): safe area content colors
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(buildinfo): don't throw when git fetch --tags fails
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(app): format
  packages/app/capacitor.config.ts
  packages/app/src/app.html
Due: eslint --fix, prettier --write --ignore-unknown

fix(android): make app edge-to-edge
  Dockerfile
  packages/app/capacitor.config.ts
  packages/app/package.json
  packages/app/src/app.html
  packages/app/src/routes/(app)/+layout.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(app): remove unecessary artifacts declaration
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(app): overhaul login flow
  .changeset/cold-penguins-smile.md
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/MaybeError.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/+error.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/src/routes/+error.svelte
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): add logout button to profile page overflow menu (Closes #1095)
  .changeset/tasty-actors-unite.md
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix build & formatting
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/MaybeError.svelte
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(diawi): comment on the MR with the qr code
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(app): serve /update-bundle on node server
  .changeset/empty-ducks-happen.md
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(infrastructure)/update-bundle/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): setup OTA updates
  Dockerfile
  ci/build/app.gitlab-ci.yml
  ci/changesets.gitlab-ci.yml
  packages/app/capacitor.config.ts
  packages/app/package.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

ci(diawi): echo out the job id
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(diawi): improve job
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/cold-penguins-smile.md
  .changeset/empty-ducks-happen.md
  .changeset/fifty-toys-mix.md
  .changeset/tasty-actors-unite.md
  .changeset/two-schools-poke.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

ci(diawi): cap attempts at polling status, hopefully fix the job
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(app): remove leftover TWA assetlinks.json that was taking precedence over native one
  .changeset/fast-ducks-mate.md
  packages/app/static/.well-known/assetlinks.json
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/fast-ducks-mate.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

feat(android): set version code & name
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(android): debug gradle.properties (before secrets ofcourse)
  Dockerfile
Due: prettier --write --ignore-unknown

ci(android): fix empty BUILD_VERSION_NAME gradle property value
  Dockerfile
Due: prettier --write --ignore-unknown

ci(android): debug gradle.properties in full
  Dockerfile
Due: prettier --write --ignore-unknown

ci(diawi): fix note posting
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(android): make update bundles, lie on tag (just to test out OTA updates)
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown
