Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(deps): update dependency multer to ^1.4.5-lts.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency prettier to ^3.5.3
  package.json
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/zzzz-renovate-prettier-3.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/zzzz-renovate-mime-4.x.md
  .changeset/zzzz-renovate-multer-1.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/shiny-games-kiss.md
  .changeset/zzzz-renovate-babel-monorepo.md
  .changeset/zzzz-renovate-connect-redis-8.x.md
  .changeset/zzzz-renovate-cytoscape-3.x.md
  .changeset/zzzz-renovate-envelop-monorepo.md
  .changeset/zzzz-renovate-graphql-scalars-1.x.md
  .changeset/zzzz-renovate-houdini-1.x.md
  .changeset/zzzz-renovate-houdini-svelte-2.x.md
  .changeset/zzzz-renovate-i18next-24.x.md
  .changeset/zzzz-renovate-iconify-json-material-symbols-1.x.md
  .changeset/zzzz-renovate-iconify-json-material-symbols-light-1.x.md
  .changeset/zzzz-renovate-iconify-json-simple-icons-1.x.md
  .changeset/zzzz-renovate-mime-4.x.md
  .changeset/zzzz-renovate-multer-1.x.md
  .changeset/zzzz-renovate-nodejs.md
  .changeset/zzzz-renovate-notella.md
  .changeset/zzzz-renovate-prettier-3.x.md
  .changeset/zzzz-renovate-svelte-check-4.x.md
  .changeset/zzzz-renovate-sveltejs-kit-2.x.md
  .changeset/zzzz-renovate-tsconfig-node20-20.x.md
  .changeset/zzzz-renovate-vite-5.x.md
  .changeset/zzzz-renovate-vite-plugin-kit-routes-0.x.md
  .changeset/zzzz-renovate-write-excel-file-2.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency keep-a-changelog to ^2.6.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency ldap-authentication to ^3.3.4
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency nanoid to ^5.1.5
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency remark-rehype to ^11.1.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency ua-parser-js to ^2.0.3
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency yaml to ^2.7.1
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency nats
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update nodejs to v22
  Dockerfile
  ci/changesets.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changeset): add changeset for /uid json debuginfo bugfix
  .changeset/eighty-oranges-glow.md
Due: prettier --write --ignore-unknown

feat(app): remove sentry because we don't have a server anymore
  packages/app/src/hooks.client.ts
  packages/app/src/hooks.server.ts
  packages/app/src/lib/sentry.ts
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.svelte
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): [uid=uid] page does not always load correctly due to race condition when the graphql query finish
  packages/app/src/lib/buildinfo.ts
  packages/app/src/routes/(app)/[uid=uid]/+layout.gql
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: unicorn doesn't work on my computer
  .eslintrc.cjs
Due: prettier --write --ignore-unknown

fix(app): birthday cards don't have the correct url to the linked user
  packages/app/src/routes/(app)/+page.svelte
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset for sentry removal
  .changeset/eighty-oranges-glow2.md
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): token cookie when using oauth was expiring in only 8h45 instead of 365days due to conversion error
  packages/api/src/lib/utils.ts
  packages/api/src/server/auth/session.ts
Due: oxlint --fix, prettier --write --ignore-unknown

feat(api): add a cache-control of 8h on images because we do cache-busting
  packages/api/src/server/storage.ts
Due: oxlint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset for oauth token new expiration duration and /storage cache
  .changeset/eighty-oranges-glow3.md
  .changeset/eighty-oranges-glow4.md
Due: prettier --write --ignore-unknown

feat: add possibility to silently drop an user candidate
  packages/api/src/modules/users/resolvers/mutation.drop-user-candidate.ts
  packages/app/src/routes/(app)/signups/+layout.svelte
  packages/app/src/routes/(app)/signups/ModalRefuseReason.svelte
  packages/app/src/routes/(app)/signups/shared.ts
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add changeset for dropUserCandidate
  .changeset/tiny-showers-open.md
Due: prettier --write --ignore-unknown

fix: add missing schema.graphql update
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

feat(cache): remove immutability
  packages/api/src/server/storage.ts
Due: oxlint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/eighty-oranges-glow.md
  .changeset/eighty-oranges-glow2.md
  .changeset/eighty-oranges-glow3.md
  .changeset/eighty-oranges-glow4.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix: change update type from patch to minor
  .changeset/tiny-showers-open.md
Due: prettier --write --ignore-unknown

fix: use union type instead of enum for Decision
  packages/app/src/routes/(app)/signups/+layout.svelte
  packages/app/src/routes/(app)/signups/ModalRefuseReason.svelte
  packages/app/src/routes/(app)/signups/shared.ts
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: better tooltip on inscription deletion button
  packages/app/src/routes/(app)/signups/+layout.svelte
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/tiny-showers-open.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore: fix image urls
  packages/api/src/mail-templates/_footer.mjml
  packages/api/src/mail-templates/_header.mjml
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(external)/kiosk/+page.svelte
  packages/app/static/net7_dark.svg
  packages/app/static/net7_light.svg
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

Fix images urls
  packages/api/src/mail-templates/_footer.mjml
  packages/api/src/mail-templates/_header.mjml
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(external)/kiosk/+page.svelte
  packages/app/static/net7_dark.svg
  packages/app/static/net7_light.svg
Due: oxlint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add missing changeset for image url fix
  .changeset/puny-crabs-scream.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/puny-crabs-scream.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols to ^1.2.33
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Path conditions:
  oxlint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
