Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to ^8.54.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/sveltejs-kit-2.x.md
Due: prettier --write --ignore-unknown

feat(app): ignore diacritics in InputPickObjects
  .changeset/tricky-snakes-nail.md
  packages/app/package.json
  packages/app/src/lib/components/InputPickObjects.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/sentry-javascript-monorepo.md
Due: prettier --write --ignore-unknown

ci(test/app): don't run generate for test:app:format
  ci/test/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency fuse.js to ^7.1.0
  .changeset/tricky-snakes-nail.md
  packages/app/package.json
  packages/app/src/lib/components/InputPickObjects.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/fuse.js-7.x.md
Due: prettier --write --ignore-unknown

chore(app): format changes
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(app): prevent non-major changesets when changing native code
  ci/test/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: fix usages of glab
  .gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/labels.gitlab-ci.yml
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: improve test jobs
  ci/test.gitlab-ci.yml
  ci/test/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: add labels on MRs when relevant
  .gitlab-ci.yml
  ci/labels.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/shaggy-timers-shop.md
Due: prettier --write --ignore-unknown

ci(app): don't require build:app-with-native-develop to start running build:app
  .gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: fix
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency rehype-highlight to ^7.0.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(gitlab): improve MR template
  .gitlab/merge_request_templates/default.md
  default.md
Due: prettier --write --ignore-unknown

ci: improve apk upload job
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(deps): update dependency @sveltejs/kit to ^2.17.1
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update typescript-eslint monorepo to ^8.23.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(devx): tunnel api requests back to localhost when using a remote devserver
  .gitlab/merge_request_templates/default.md
  Dockerfile
  ci/build.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  package.json
  packages/app/capacitor.config.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/servmanifest.ts
  packages/app/src/routes/(app)/(api)/README.md
  packages/app/src/routes/(app)/(api)/auth/[...subpath]/+server.ts
  packages/app/src/routes/(app)/(api)/forwarder.ts
  packages/app/src/routes/(app)/(api)/graphql/+server.ts
  packages/app/src/routes/(app)/(api)/storage/[...file]/+server.ts
  packages/app/src/routes/(app)/settings/ModalServerConfiguration.svelte
  packages/app/vite.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(server manifest): allow resetting to default server
  packages/app/src/lib/servmanifest.ts
  packages/app/src/routes/(app)/settings/ModalServerConfiguration.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): show settings tab when logged out on desktop
  .changeset/soft-masks-think.md
  packages/app/src/lib/components/NavigationSide.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): take PUBLIC_API_ORIGIN_WEB into account when computing Pictured.pictureURL
  .changeset/calm-baboons-buy.md
  packages/api/src/modules/global/types/pictured.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): don't try to parse already-object date in user last seen update
  .changeset/chilly-olives-teach.md
  packages/api/src/lib/last-seen.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: add job to trigger notella update when prisma schema changes
  .gitlab-ci.yml
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(renovate): setup kubernetes/ support
  renovate.json
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/rehype-highlight-7.x.md
Due: prettier --write --ignore-unknown

chore(renovate changesets): debug why existing changesets are not updated
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(renovate changesets): make sure latest merge commits are processed last
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

ci(notella): pass down raw url to download prisma schema
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(k8s): move deployment files to churros/notella repo
  kubernetes/churros/notella/deployment.yaml
  kubernetes/churros/notella/kustomization.yaml
  kubernetes/nats/kustomization.yaml
  kubernetes/nats/nats.conf
  kubernetes/nats/service.yaml
  kubernetes/nats/statefulset.yaml
Due: prettier --write --ignore-unknown

chore(prisma): rebase migration atop main
  packages/db/prisma/migrations/20250203232540_remove_notified_at/migration.sql
Due: prettier --write --ignore-unknown

fix(deps): update dependency semver to ^7.7.1
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update swc monorepo to ^1.10.14
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(renovate): group k8s & docker compose postgreses together
  renovate.json
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/semver-7.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/swc-monorepo.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,svelte}
  prettier --write --ignore-unknown: any of: *
