Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/firebase-admin-13.x.md
  .changeset/graphql-yoga-monorepo.md
  .changeset/hip-mangos-whisper.md
  .changeset/ioredis-5.x.md
  .changeset/shiny-oranges-cover.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(app): don't make frontend check for notella yet
  packages/app/src/routes/(external)/health/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/hotfix.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/hotfix.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

perf(healthchecks): execute checks on the type's leaf resolvers instead of on the root query
  .changeset/odd-rules-own.md
  packages/api/src/lib/pothos.ts
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/server/express.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

perf(healthchecks): resolve on type leaves instead of root query
  .changeset/odd-rules-own.md
  packages/api/src/lib/pothos.ts
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/server/express.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update notella to v0.15.3
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update swc monorepo to ^1.10.15
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @babel/core to ^7.26.8
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(logs): fix Query.logs:target
  .changeset/lucky-rivers-rhyme.md
  packages/api/src/modules/logs/resolvers/query.logs.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(gdpr): getAllGdprExports returned .json files outside the exports storage directory
  packages/api/src/modules/users/utils/gdpr.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(housekeeping): add dryRun argument
  .changeset/nice-books-collect.md
  packages/api/src/lib/housekeeping.ts
  packages/api/src/modules/global/resolvers/mutation.housekeep.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/babel-monorepo.md
  .changeset/notella.md
  .changeset/swc-monorepo.md
Due: prettier --write --ignore-unknown

fix(app): ui is off-center on tablet-size viewports (closes #1265)
  .changeset/flat-months-own.md
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(social logos): remove facebook, add bluesky (Closes #1262)
  .changeset/ninety-bottles-bathe.md
  .changeset/pink-laws-scream.md
  packages/app/src/lib/social.generated.ts
  packages/app/src/scripts/generate-socials-json.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(signup): don't log ALL args for signups/start...
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(signups): allow choosing arbitrary promotions on signup (closes #1263)
  .changeset/silly-pigs-drive.md
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci: add schedule-triggered job to update socials data from sherlock
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(update socials data): only run when $TASK set to that one
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: only trigger update-socials-data with pipeline schedule
  ci/changesets.gitlab-ci.yml
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(update socials): fix
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(api docs): remove manual trigger, build when graphinx conf changes
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(socials): update data from sherlock
  packages/app/src/lib/social.generated.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(logs): hide target pill and/or open-target button when irrelevant for a log entry
  .changeset/curly-plums-heal.md
  packages/api/src/lib/housekeeping.ts
  packages/app/src/routes/(app)/logs/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(renovate): fix graphinx custom managers
  renovate.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency graphinx/templates to v0.12.2
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

chore(renovate): group graphinx + template updates
  renovate.json
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/babel-monorepo.md
  .changeset/curly-plums-heal.md
  .changeset/flat-months-own.md
  .changeset/lucky-rivers-rhyme.md
  .changeset/nice-books-collect.md
  .changeset/ninety-bottles-bathe.md
  .changeset/notella.md
  .changeset/odd-rules-own.md
  .changeset/pink-laws-scream.md
  .changeset/silly-pigs-drive.md
  .changeset/swc-monorepo.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

refactor(app): use vite proxying instead of handrolling it
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/(api)/README.md
  packages/app/src/routes/(app)/(api)/auth/[...subpath]/+server.ts
  packages/app/src/routes/(app)/(api)/forwarder.ts
  packages/app/src/routes/(app)/(api)/graphql/+server.ts
  packages/app/src/routes/(app)/(api)/storage/[...file]/+server.ts
  packages/app/vite.config.js
Due: eslint --fix, prettier --write --ignore-unknown

feat(fdroid): split from google productflavor
  .env.example
  Dockerfile
  packages/app/src/lib/notifications.ts
  packages/app/vite.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(git): temporarly switch to github for submodules
  .gitmodules
Due: prettier --write --ignore-unknown

chore(fdroid): make @capgo/capacitor-updater optional
  packages/app/src/routes/+layout.ts
  packages/app/vite.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.24
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency ua-parser-js to ^2.0.2
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency prettier to ^3.5.0
  package.json
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prettier): set objectWrapping to collapse
  .prettierrc.json
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to v9
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency remark-gfm to ^4.0.1
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update node.js to v20.18.3
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,svelte}
  prettier --write --ignore-unknown: any of: *
