Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(changesets): fix notella changeset package name
  .changeset/slimy-rice-report.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency vite to v6
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/clack-prompts-0.x.md
  .changeset/slimy-rice-report.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

chore(deps): update registry.inpt.fr/churros/notella docker tag to v0.11.4
  docker-compose.yml
Due: prettier --write --ignore-unknown

chore(deps): use github git source for @inp-net/notella because renovate
  packages/api/package.json
Due: prettier --write --ignore-unknown

fix(deps): update dependency @inp-net/notella to v0.11.4
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/inp-net-notella-0.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/inp-net-notella-0.x.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

chore(renovate): group notella docker & node updates together
  renovate.json
Due: prettier --write --ignore-unknown

fix(deps): update dependency @inp-net/notella to v0.12.0
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(renovate): use matchDepNames for grouping config
  renovate.json
Due: prettier --write --ignore-unknown

chore(renovate): group node upgrades together
  renovate.json
Due: prettier --write --ignore-unknown

fix(deps): update notella to v0.14.0
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update nodejs to v22
  Dockerfile
  ci/changesets.gitlab-ci.yml
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/notella.md
Due: prettier --write --ignore-unknown

fix(deps): add back postcss{,-html}
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update notella to v0.14.1
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency sass to ^1.84.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(notifications): remove Comments from NotificationChannels db enum type
  .changeset/old-pans-destroy.md
  .changeset/poor-ligers-sneeze.md
  packages/app/schema.graphql
  packages/app/src/lib/display.ts
  packages/db/prisma/migrations/20250205221023_notification_channels_remove_comments/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

ci(test/api): run gql schema tests when db changes
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: fix linting after rebase
  packages/app/src/lib/components/FormDocument.svelte
  packages/app/src/lib/components/FormPage.svelte
  packages/app/src/lib/components/FormPicture.old.svelte
  packages/app/src/lib/components/InputFile.svelte
  packages/app/src/lib/components/LoadingText.svelte
  packages/app/src/lib/components/PickMajor.svelte
  packages/app/src/lib/polyfills.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/members/bulk/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/+layout.gql
  packages/app/src/routes/(app)/posts/[id]/edit/links/+page.gql
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.gql
  packages/app/src/routes/(app)/signups/edit/[email]/+page.svelte
  packages/app/src/routes/(external)/health/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(typescript): try not returning res anymore?
  packages/api/src/server/booking-pdf.ts
  packages/api/src/server/express.ts
  packages/api/src/server/handover-pdf.ts
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unused readonly prop
  packages/app/src/lib/components/InputText.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(deps): update notella to v0.15.0
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/notella.md
  .changeset/old-pans-destroy.md
  .changeset/poor-ligers-sneeze.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency graphql-yoga to ^5.11.0
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/graphql-yoga-monorepo.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency firebase-admin to ^13.1.0
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/firebase-admin-13.x.md
Due: prettier --write --ignore-unknown

fix(db): fix notification_channels_remove_comments migration
  packages/db/prisma/migrations/20250205221023_notification_channels_remove_comments/migration.sql
Due: prettier --write --ignore-unknown

feat(logs): improve UI
  .changeset/hip-mangos-whisper.md
  .changeset/shiny-oranges-cover.md
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/api/src/modules/logs/resolvers/query.log.ts
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/api/src/modules/logs/types/log-entry.ts
  packages/api/src/modules/reactions/types/reaction.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.svelte
  packages/app/src/routes/(app)/logs/+page.ts
  packages/app/src/routes/(app)/logs/NodeDisplay.svelte
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(deps): update dependency ioredis to ^5.5.0
  packages/api/package.json
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(gql): fix changeset check
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: apply some lint fixes
  packages/app/src/routes/(app)/logs/+page.svelte
  packages/app/src/routes/(app)/logs/NodeDisplay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/ioredis-5.x.md
Due: prettier --write --ignore-unknown

chore: format
  packages/app/src/routes/(app)/logs/NodeDisplay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(logs): improve UI
  .changeset/hip-mangos-whisper.md
  .changeset/shiny-oranges-cover.md
  ci/test/api.gitlab-ci.yml
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/api/src/modules/logs/resolvers/query.log.ts
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/api/src/modules/logs/types/log-entry.ts
  packages/api/src/modules/reactions/types/reaction.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.svelte
  packages/app/src/routes/(app)/logs/+page.ts
  packages/app/src/routes/(app)/logs/NodeDisplay.svelte
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
