Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(api): reduce number of ports used
  kubernetes/churros/api/services.yaml
  kubernetes/churros/ingress.yaml
  packages/api/src/index.ts
  packages/api/src/server/lydia.ts
  packages/api/src/server/prometheus.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): warning admins/managers when they're bypassing checks when booking a ticket
  .changeset/fair-days-yell.md
  CHANGELOG.md
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(lint staged): switch to oxlint for precommit hooks
  .lintstagedrc.json
  package.json
  packages/api/src/modules/documents/resolvers/mutation.set-document-file-is-solution.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

ci(app:lint): don't try to lint gql files
  .eslintignore
Due: prettier --write --ignore-unknown

fix(deps): update dependency @carbon/charts-svelte to ^1.22.16
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/major-sentry-javascript-monorepo.md
  .changeset/remark.md
  .changeset/ua-parser-js-2.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/major-sentry-javascript-monorepo.md
  .changeset/remark.md
  .changeset/ua-parser-js-2.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(deps): update dependency prettier to ^3.5.0
  .prettierrc.json
  package.json
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/prettier-3.x.md
Due: prettier --write --ignore-unknown

chore(deps): update typescript-eslint monorepo to ^8.24.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency postcss to ^8.5.2
  package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @carbon/charts-svelte to ^1.22.4
  .changeset/carbon-charts-svelte-1.x.md
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(graphql): rate limiting was not applied anymore since... uhh idk
  .changeset/rotten-garlics-train.md
  packages/api/src/schema.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): prevent double-bookings by accidentally clicking twice on book buttons
  .changeset/slow-eyes-end.md
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): rate-limit Mutation.bookEvent to 1 every 10s
  .changeset/wise-tomatoes-smash.md
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): local logins did not reload the layoutr
  .changeset/chilled-yaks-care.md
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(graphql): try to fix rate-limit description modifications
  packages/api/src/lib/ratelimit.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): remove unused dependency @carbon/charts-svelte
  .changeset/carbon-charts-svelte-1.x.md
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/carbon-charts-svelte-1.x.md
  .changeset/postcss-8.x.md
Due: prettier --write --ignore-unknown

feat(welcome): page now clearly states what your uid is, and has a bit better appearance for things to do
  .changeset/good-singers-lick.md
  packages/app/src/routes/(app)/welcome/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update nodejs to v20.18.3
  Dockerfile
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(deps): update dependency vite to v6
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(build): rebuild in MRs that change dockerfile
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
Due: prettier --write --ignore-unknown

Revert "chore(deps): update nodejs to v20.18.3"
  Dockerfile
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

Revert "chore(deps): update node.js to v20.18.3"
  package.json
Due: prettier --write --ignore-unknown

fix(deps): downgrade nodejs
  Dockerfile
  ci/changesets.gitlab-ci.yml
  package.json
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/carbon-charts-svelte-1.x.md
  .changeset/chilled-yaks-care.md
  .changeset/fair-days-yell.md
  .changeset/good-singers-lick.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/major-sentry-javascript-monorepo.md
  .changeset/postcss-8.x.md
  .changeset/prettier-3.x.md
  .changeset/remark.md
  .changeset/rotten-garlics-train.md
  .changeset/slow-eyes-end.md
  .changeset/ua-parser-js-2.x.md
  .changeset/wise-tomatoes-smash.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(deps): update nodejs to v20.18.3
  Dockerfile
  ci/changesets.gitlab-ci.yml
  package.json
Due: prettier --write --ignore-unknown

chore: downgrade sentry/sveltekit back to 8.x
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/six-horses-wink.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/six-horses-wink.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(deps): update nodejs to v22
  Dockerfile
  ci/changesets.gitlab-ci.yml
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to v9
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency zod to ^3.24.2
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/zod-3.x.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency @faker-js/faker to ^9.5.0
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/faker-js-faker-9.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/faker-js-faker-9.x.md
  .changeset/zod-3.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to ^8.55.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,svelte}
  prettier --write --ignore-unknown: any of: *
