Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(deps): update dependency @types/node to ^20.17.17
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

WIP: add sentry integration to api
  .env.example
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/lib/builder.ts
  packages/api/src/server/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/node-20.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/graphinx-0.x.md
Due: prettier --write --ignore-unknown

chore(renovate): enable git-submodules
  renovate.json
Due: prettier --write --ignore-unknown

chore(kubernetes): pin redis stack server version
  kubernetes/redis/deployment.yaml
Due: prettier --write --ignore-unknown

chore(yarn): update lockfile
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency graphinx to v0.12.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): upgrade graphinx
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(notifications): enable both notella and old notification system
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/modules/notifications/resolvers/mutation.test-notification.ts
  packages/api/src/modules/notifications/utils/index.ts
  packages/api/src/modules/notifications/utils/schedule.old.ts
  packages/api/src/modules/posts/utils/notifications.old.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/users/resolvers/mutation.answer-godparent-request.ts
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.upsert-godparent-request.ts
  packages/api/src/server/lydia.ts
  packages/db/prisma/migrations/20250203232540_remove_notified_at/migration.sql
  packages/db/prisma/schema.prisma
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

ci: don't block until trigger-notella-update
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changeset): remove leftover already-merged changeset
  .changeset/vite-plugin-kit-routes-0.x.md
Due: prettier --write --ignore-unknown

fix(posts): notification was never scheduled when setting post to new visibility after its creation
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(events): don't format dates into the notifications since it depends on the user's timezone
  packages/api/src/modules/events/utils/notifications.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docker compose): set notella to debug logs, and update image
  docker-compose.yml
Due: prettier --write --ignore-unknown

fix(posts): make timing leeway for scheduling existing post notification tighter
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(posts): fix notification scheduling logic
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/posts/utils/visibility.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(barrels): remove leftover barrels
  packages/api/src/modules/global/index.ts
  packages/api/src/modules/global/utils/index.ts
  packages/api/src/modules/notifications/utils/index.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @types/web-push to ^3.6.4
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency croner to ^8.1.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency ua-parser-js to ^2.0.1
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update prisma monorepo to ^6.3.1
  packages/api/package.json
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update postgres docker tag to v17
  docker-compose.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency nats
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/prisma-monorepo.md
  .changeset/web-push-3.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/croner-8.x.md
  .changeset/nats-2.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/ua-parser-js-2.x.md
Due: prettier --write --ignore-unknown

ci(notella): remove manual rule for schema update trigger
  ci/misc.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(bookings): show booking date on popup modal
  .changeset/twenty-planets-live.md
  packages/app/src/routes/(app)/events/[id]/bookings/ModalBookingDetails.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/calm-baboons-buy.md
  .changeset/chilly-olives-teach.md
  .changeset/croner-8.x.md
  .changeset/fair-coats-talk.md
  .changeset/fuse.js-7.x.md
  .changeset/graphinx-0.x.md
  .changeset/nats-2.x.md
  .changeset/node-20.x.md
  .changeset/prisma-monorepo.md
  .changeset/purple-chefs-heal.md
  .changeset/rehype-highlight-7.x.md
  .changeset/semver-7.x.md
  .changeset/sentry-javascript-monorepo.md
  .changeset/soft-masks-think.md
  .changeset/sveltejs-kit-2.x.md
  .changeset/swc-monorepo.md
  .changeset/tall-ads-double.md
  .changeset/tricky-snakes-nail.md
  .changeset/twenty-planets-live.md
  .changeset/ua-parser-js-2.x.md
  .changeset/web-push-3.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update registry.inpt.fr/churros/notella docker tag to v0.11.3
  docker-compose.yml
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/express to v5
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update node.js to v22
  Dockerfile
Due: prettier --write --ignore-unknown

chore(deps): update node.js to v22
  ci/changesets.gitlab-ci.yml
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @clack/prompts to ^0.10.0
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/clack-prompts-0.x.md
Due: prettier --write --ignore-unknown

fix(deps): update notella
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update notella
  .changeset/slimy-rice-report.md
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown
