Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(changesets): add changesets for renovate branches
  .changeset/date-fns-tz-3.x.md
Due: prettier --write --ignore-unknown

Dedupe dependencies
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/sentry-javascript-monorepo.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/ldap-authentication-3.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/graphql-ws-6.x.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to ^8.53.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency svelte-gestures to v5.1.3
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(api): add server manifest
  .changeset/gentle-meals-compare.md
  packages/api/src/modules/global/resolvers/query.version.ts
  packages/api/src/server/express.ts
  packages/api/src/server/wellknown.ts
  packages/app/schema.graphql
  server-manifest.example.json
  server-manifest.schema.json
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update dependency croner to v9
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency vite-plugin-kit-routes to ^0.8.1
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(app): allow setting the api instance used by the frontend
  .env.example
  packages/app/package.json
  packages/app/src/hooks.client.ts
  packages/app/src/hooks.server.ts
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/servmanifest.ts
  packages/app/src/lib/session.ts
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/ServerConfigurationModal.svelte
  packages/app/svelte.config.js
  scripts/generate-buildinfo.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(settings): show actual current API version on instance switcher
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): support for changing the server used by the frontend
  .env.example
  packages/app/package.json
  packages/app/src/hooks.client.ts
  packages/app/src/hooks.server.ts
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/servmanifest.ts
  packages/app/src/lib/session.ts
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/ServerConfigurationModal.svelte
  packages/app/svelte.config.js
  scripts/generate-buildinfo.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(k8s/ingress): direct /.well-known/churros.app/ to api
  kubernetes/churros/ingress.yaml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/vite-plugin-kit-routes-0.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/date-fns-tz-3.x.md
  .changeset/gentle-meals-compare.md
  .changeset/graphql-ws-6.x.md
  .changeset/ldap-authentication-3.x.md
  .changeset/light-beds-behave.md
  .changeset/major-prisma-monorepo.md
  .changeset/sentry-javascript-monorepo.md
  .changeset/spotty-zebras-return.md
  .changeset/vite-plugin-kit-routes-0.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/date-fns-tz-3.x.md
  .changeset/graphql-ws-6.x.md
  .changeset/ldap-authentication-3.x.md
  .changeset/major-prisma-monorepo.md
  .changeset/sentry-javascript-monorepo.md
  .changeset/vite-plugin-kit-routes-0.x.md
Due: prettier --write --ignore-unknown

ci(diawi): improve & maybe fix upload to diawi
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

Revert "chore(changesets): add changesets for renovate branches"
  .changeset/date-fns-tz-3.x.md
  .changeset/graphql-ws-6.x.md
  .changeset/ldap-authentication-3.x.md
  .changeset/major-prisma-monorepo.md
  .changeset/sentry-javascript-monorepo.md
  .changeset/vite-plugin-kit-routes-0.x.md
Due: prettier --write --ignore-unknown

ci(changeset renovate): also prevent generating changesets on the _merge commit_ of the release branch
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(k8s): remove housekeeper cronjob definition from repo
  kubernetes/churros/api/cronjob.yaml
Due: prettier --write --ignore-unknown

fix(deps): update dependency firebase-admin to v13
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(k8s): remove inexistent reference to cronjob.yaml
  kubernetes/churros/api/kustomization.yaml
Due: prettier --write --ignore-unknown

fix(k8s): fix pathType for server manifest
  kubernetes/churros/ingress.yaml
Due: prettier --write --ignore-unknown

fix(k8s): use ImplementationSpecific pathType for server manifest
  kubernetes/churros/ingress.yaml
Due: prettier --write --ignore-unknown

fix(deps): update dependency i18next to v24
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(app): don't build native app unless the MR changes native code
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(app): build & deploy apk when deploying app
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(server manifest): improve version checking, allow bypassing it
  packages/app/package.json
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/servmanifest.ts
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/ModalServerConfiguration.svelte
  scripts/generate-buildinfo.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(android): setup deeplinks support
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(external)/.well-known/apple-app-site-association/+server.ts
  packages/app/src/routes/(external)/.well-known/assetlinks.json/+server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(typescript): remove now invalid @ts-expect-error in cors definition
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(app): add deeplink declarations
  .changeset/clever-pots-drum.md
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(external)/.well-known/apple-app-site-association/+server.ts
  packages/app/src/routes/(external)/.well-known/assetlinks.json/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(renovate changesets): prevent generating useless diffs when formatter passes over .changesets/*.md
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/i18next-24.x.md
Due: prettier --write --ignore-unknown

ci(android): add support for building release, signed APKs
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(android): don't try to cancel sibling pipelines when running native builds
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changeset): remove leftover changesets
  .changeset/date-fns-tz-3.x.md
  .changeset/major-prisma-monorepo.md
  .changeset/sentry-javascript-monorepo.md
Due: prettier --write --ignore-unknown

ci(app): decide what build to do based on MR labels
  CONTRIBUTING.md
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown
