Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.23
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci: fix tag mock command
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(ticketing): max out screen brightness while on the booking qr code page
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(docker/app-bundle-assemble): fix bundle zip invocation
  Dockerfile
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(capacitor): register @capacitor-community/screen-brightness
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(ticketing): wakelock on booking qr page, and prevent crash if brightness or wakelock fails
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(capacitor): register @capacitor-community/keep-awake
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(capacitor): register @capacitor/toast
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(capacitor): use native toasts when possible
  packages/app/src/lib/toasts.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(capacitor): register @capawesome/capacitor-app-shortcuts
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(native): don't build mocked bundle anymore
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(diawei): fix needs
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(native): use pipeline global id for build number
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(app): don't use .env.example when building, restore original .env.example
  Dockerfile
  ci/build.gitlab-ci.yml
  packages/app/.env.prod
Due: prettier --write --ignore-unknown

ci(native): copy over @capawesome/ node_modules
  Dockerfile
Due: prettier --write --ignore-unknown

chore(deps): update commitlint monorepo to ^19.7.1
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(android): don't mock versionName anymore
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(android): add stub signing config values for unsigned builds
  Dockerfile
Due: prettier --write --ignore-unknown

ci(android): maybe fix .env override not working
  Dockerfile
Due: prettier --write --ignore-unknown

ci(android): maybe fix .env override not working
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(app): add version and build info to footer
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(android): maybe fix .env override not working
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(native): add quick access as app shortcuts
  packages/app/src/lib/native-icons.ts
  packages/app/src/lib/pins.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(settings): make page accessible when logged out
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): add additional info to footer
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci: add a job to build a development app that has a remote devserver set
  Dockerfile
  ci/build.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  packages/app/capacitor.config.ts
  packages/app/vite.config.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(login): improve appearance a bit and fix oauth on native
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): crash when ButtonSecondary used with undefined href
  .changeset/hotfixbtnsec.md
  packages/app/src/lib/components/ButtonSecondary.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(changeset): fix package name
  .changeset/hotfixbtnsec.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/hotfixbtnsec.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(deps): update dependency fuse.js to ^7.1.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(docker): increase node heap size in builder-app stage
  Dockerfile
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/iconify-json-simple-icons-1.x.md
Due: prettier --write --ignore-unknown

chore(changelog): add 4.4.2
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/iconify-json-simple-icons-1.x.md
  CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency @sveltejs/kit to ^2.17.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,svelte}
  prettier --write --ignore-unknown: any of: *
